<html>

<head>
  <title>Analyze</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include partials/navigation.ejs %>
    <h1>Analytics</h1>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {
      packages: ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

    </script>

    <script>
    var GoogleAuth;

    function handleClientLoad() {
      gapi.load('client:auth2', initClient);
    }

    function initClient() {
      gapi.client.init({
        'clientId': '721555634747-lnb3tang4qeiluuo09k4hvcedct6nf9c.apps.googleusercontent.com',
        'discoveryDocs': ['https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest'],
        'scope': 'https://www.googleapis.com/auth/youtube.force-ssl https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/youtube.readonly'
      }).then(function() {
        GoogleAuth = gapi.auth2.getAuthInstance();

        GoogleAuth.isSignedIn.listen(updateSigninStatus);

        setSigninStatus();
      });
    }

    function handleAuthClick(event) {
      GoogleAuth.signIn();
    }

    function setSigninStatus() {
      var user = GoogleAuth.currentUser.get();
      isAuthorized = user.hasGrantedScopes(
        'https://www.googleapis.com/auth/youtube.force-ssl https://www.googleapis.com/auth/youtubepartner https://www.googleapis.com/auth/yt-analytics.readonly https://www.googleapis.com/auth/youtube.readonly');
      if (isAuthorized) {
        $("#current-user").append(user.w3.ig)
        loadAPIClientInterfaces()
      }
    }

    function updateSigninStatus(isSignedIn) {
      setSigninStatus();
    }

    function loadAPIClientInterfaces() {
      console.log('made it here');
      gapi.client.load('youtube', 'v3', function() {
        gapi.client.load('youtubeAnalytics', 'v1', function() {
          getUserChannel();
        });
      });
    }

    function getUserChannel() {
      var request = gapi.client.youtube.channels.list({
        mine: true,
        part: 'id,contentDetails,statistics'
      });

      request.execute(function(response) {
        if ('error' in response) {
          console.log(response.error.message);
        } else {
          channelId = response.items[0].id;
          // console.log('userchannel response', response)
          var uploadsListId = response.items[0].contentDetails.relatedPlaylists.uploads;

          let stats = response.items[0].statistics
          $("#api-data").append(`<div> Total Videos: ${stats.videoCount} </div>`)
          $("#api-data").append(`<div> Number of Subscribers: ${stats.subscriberCount} </div>`)
          $("#api-data").append(`<div> Total Comments: ${stats.commentCount} </div>`)
          $("#api-data").append(`<div> Total Views: ${stats.viewCount} </div>`)

          let commentViewRatio
          if (stats.viewCount != 0) {
            commentViewRatio = stats.commentCount / stats.viewCount
          } else {
            commentViewRatio = 'cannot be calculated for this video'
          }

          $("#api-data").append(`<div> Comments/Views Ratio ${commentViewRatio} </div>`)

          displayVideoAnalytics(channelId)
          getPlaylistItems(uploadsListId);
        }
      });
    }

    function displayVideoAnalytics(channelId, videoId) {
      if (channelId) {
        var today = new Date();

        var request = gapi.client.youtubeAnalytics.reports.query({
          'start-date': '2014-11-01',
          'end-date': formatDateString(today),
          ids: 'channel==' + channelId,
          dimensions: 'day',
          metrics: 'views',
          if (videoId) {
            filters: 'video==' + videoId
          }
        });

        request.execute(function(response) {
          // This function is called regardless of whether the request succeeds.
          // The response either has valid analytics data or an error message.
          if ('error' in response) {
            console.log(response.error);
          } else {
            // console.log('response from server', response)
            // displayChart(videoId, response);
            displayChart(response, videoId)
            console.log('success', response)
          }
        });
      } else {
        console.log('The YouTube user id for the current user is not available.');
      }
    }

    function displayChart(response, videoId) {
      if ('rows' in response) {

        // The columnHeaders property contains an array of objects representing
        // each column's title – e.g.: [{name:"day"},{name:"views"}]
        // We need these column titles as a simple array, so we call jQuery.map()
        // to get each element's "name" property and create a new array that only
        // contains those values.
        var columns = $.map(response.columnHeaders, function(item) {
          return item.name;
        });
        // The google.visualization.arrayToDataTable() wants an array of arrays.
        // The first element is an array of column titles, calculated above as
        // "columns". The remaining elements are arrays that each represent
        // a row of data. Fortunately, response.rows is already in this format,
        // so it can just be concatenated.
        // See https://developers.google.com/chart/interactive/docs/datatables_dataviews#arraytodatatable
        var chartDataArray = [columns].concat(response.rows);
        var chartDataTable = google.visualization.arrayToDataTable(chartDataArray);

        var chart = new google.visualization.LineChart(document.getElementById('chart'));
        chart.draw(chartDataTable, {
          // Additional options can be set if desired.
          // See https://developers.google.com/chart/interactive/docs/reference#visdraw
          width: 800,
          height: 300,
          is3D: false,
          title: 'Video Views over Time'
        });
      } else {
        console.log('No data available for channel');
      }
    }


    function formatDateString(date) {
      var yyyy = date.getFullYear().toString();
      var mm = padToTwoCharacters(date.getMonth() + 1);
      var dd = padToTwoCharacters(date.getDate());

      return yyyy + '-' + mm + '-' + dd;
    }

    function padToTwoCharacters(number) {
      if (number < 10) {
        return '0' + number;
      } else {
        return number.toString();
      }
    }

    function getPlaylistItems(listId) {
      var request = gapi.client.youtube.playlistItems.list({
        playlistId: listId,
        part: 'snippet',
        maxResults: 30
      });

      request.execute(function(response) {
        if ('error' in response) {
          console.log(response.error);
        } else {
          if ('items' in response) {
            var videoIds = $.map(response.items, function(item) {
              return item.snippet.resourceId.videoId;
            });
            getVideoMetadata(videoIds);
          } else {
            $('#video-list').append('<li>There are no videos in your channel.</li>');
          }
        }
      });
    }

    function getVideoMetadata(videoIds) {
      var request = gapi.client.youtube.videos.list({
        id: videoIds.join(','),
        part: 'id,snippet,statistics'
      });

      request.execute(function(response) {
        if ('error' in response) {
          console.log(response.error);
        } else {
          console.log('videos response', response)
          var videoList = $('#video-list');
          $.each(response.items, function() {
            // if (this.statistics.viewCount == 0) {
            //   return;
            // }
            var title = this.snippet.title;
            var videoId = this.id;

            buildApiRequest('GET',
              '/youtube/v3/commentThreads', {
                'part': 'snippet,replies',
                'videoId': videoId
              });

            var liElement = $('<li id=' + videoId + '>');
            var aElement = $('<a>');
            aElement.attr('href', 'https://www.youtube.com/watch?v=' + videoId);
            aElement.text(title);

            liElement.append(aElement);
            liElement.append('<div> Likes: ' + this.statistics.likeCount + ' Dislikes: ' + this.statistics.dislikeCount + "</div>")

            var ratingRatio
            if (this.statistics.dislikeCount != 0) {
              ratingRatio = this.statistics.likeCount / this.statistics.dislikeCount
            } else {
              ratingRatio = 'cannot be calculated for this video'
            }

            liElement.append(`<div> Likes/Dislike Ratio ${ratingRatio} </div> </br>`)
            videoList.append(liElement);
          });
        }
      });
    }

    function removeEmptyParams(params) {
      for (var p in params) {
        if (!params[p] || params[p] == 'undefined') {
          delete params[p];
        }
      }
      return params;
    }

    function executeRequest(request, videoId) {
      request.execute(function(response) {
        console.log('response', response)
        if (response.error) {
          $('#' + videoId).append('<div> Could not retrieve comments. Error message: ' + response.error.errors[0].reason + '</div> </br>')
        } else if (response.items.length > 0) {
          $('#' + videoId).append('<div> Comments: </div>')
          response.items.forEach(comment => {
            let commentDetails = comment.snippet.topLevelComment.snippet
            // console.log('comment', commentDetails.textDisplay);
            commentDetails.publishedAt = new Date()
            let commentDiv =
              `<div>
            User: ${commentDetails.authorDisplayName} - ${commentDetails.publishedAt.toLocaleDateString('en-us', {year: 'numeric', month: 'long', day: 'numeric'})} </br>
            Comment: ${commentDetails.textDisplay} 
            </div> </br>`
            $('#' + videoId).append(commentDiv)
            /*  Available comment details
                commentDetails.authorDisplayName
                commentDetails.authorProfileImageUrl
                commentDetails.likeCount
                commentDetails.publishedAt
                commentDetails.updatedAt */
          });
        } else {
          $('#' + videoId).append('<div> No comments on this video </div> </br>')
        }
      });
    }

    function buildApiRequest(requestMethod, path, params, properties) {
      params = removeEmptyParams(params);
      var request;
      if (properties) {
        var resource = createResource(properties);
        request = gapi.client.request({
          'body': resource,
          'method': requestMethod,
          'path': path,
          'params': params
        });
      } else {
        request = gapi.client.request({
          'method': requestMethod,
          'path': path,
          'params': params
        });
      }
      executeRequest(request, params.videoId);
    }

    function getAccessToken(event) {
      return GoogleAuth.currentUser.get().getAuthResponse(true).access_token;
    }

    </script>

    <p id="current-user"></p>

    <div id="api-data"></div>
    <div id="chart"></div>
    <ul id="video-list">Videos</ul>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()">


    </script>
</body>

</html>
